@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #6366f1;
}

li {
    list-style: none;
}

h2 {
    color: #0a2240;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

.main2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #003153;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #0077B6;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0a2240;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Dashboard Navbar */

.dashboard-navbar {
    flex-wrap: nowrap;
    height: 60px; /* Fixed height */
    min-height: 60px; /* Ensure minimum height */
    padding: 0.5rem 1.5rem;
    background-color: #0077B6;
    width: 100%;
}

.dashboard-navbar form {
    display: none;
}

.dashboard-navbar .navbar-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.dashboard-navbar .main-nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

.user-link {
    position: relative;
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.user-name {
    margin: 0;
    color: #fff;
    cursor: pointer;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-link-dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Mueve el menú desplegable justo debajo del elemento */
    right: 0;
    background-color: #FFF;
    border: 1px solid #d2d2d2;
    box-shadow: 0 .1rem .2rem rgba(255, 255, 255, .075);
    z-index: 1000; /* Asegura que el menú desplegable esté por encima de otros elementos */
}

.user-link:hover .user-link-dropdown {
    display: block;
    animation: fade .5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.user-link-dropdown a {
    display: block;
    width: 100%;
    color: #495057;
    padding: 0.75rem; /* Ajusta el padding para mejor presentación */
    font-size: 1rem;
}

.user-link-dropdown .dropdown-item:hover {
    background-color: #003153;
    color: #FFF; /* Asegura que el texto sea visible cuando el fondo cambie */
}

/* Specialities menu Content */

.content {
    padding: 2rem;
    flex: 1 1 auto;
    width: 100%;
}

.speciality-card {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 0;
    display: grid;
    gap: 2rem;
}

.card {
    background-color: #e7e7e7c5;
    padding: 1.5rem 1rem;
    color: #000;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    --bs-card-border-width: 0;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
}

.amount {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

.card:hover {
    background-color: #003153;
    color: #FFF;
    transform: translateY(-10.5px);
}

.text-success-bg {
    background-color: #71c664;
    padding: 0.25rem 0.35rem;
    margin-right: 0.375rem;
    font-size: 0.715rem;
    color: #FFF;
    border-radius: 5px;
}

.badge-text {
    font-size: 0.85rem;
    font-weight: 400;
}


/*------------ Table Layout ------------*/

#posts {
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
}

#posts thead tr {
    color: #FFF;
    text-align: left;
    background-color: #293b5f;
}

#posts th,
#posts td {
    padding: 12px 15px;
}

#posts tbody tr:nth-of-type(2n) {
    background-color: #f5f5f5;
}

/* Footer */

.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 1rem 2rem;
}

.social-icons {
    display: none;
}

/* Responsive */

@media (min-width: 768px) {

    /* Navbar Form */

    .dashboard-navbar form {
        display: block;
        max-width: 320px;
    }

    /* Dashboard Content  */

    .speciality-card {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Social Icons */

    .social-icons {
        display: block;
    }

    .social-icons li:not(:last-child) {
        margin-right: 0.5rem;
        border-right: 1px solid #000;
        padding-right: 0.7rem;
    }

    .social-icons li {
        display: inline-block;
    }

    .social-icons li a {
        color: #000;
    }
}

/* custom button */

.custom-button {
    background-color: #0077B6; 
    color: white; 
    border: none; 
  }

  .custom-button:hover { 
    background-color: #024c70 !important; 
    color: white !important;
    }

  .custom-button:disabled {
    background-color: #77a9c4;
    color: #dddddd;
     
    cursor: not-allowed;      /* Cursor de no permitido */
}

/* Grid.js table, personalized styles */

/* Estilo para las celdas y el encabezado */
.gridjs-th {
    color: #FFF !important;
    background-color: #003153 !important; /* Para que las líneas sean visibles */
}

/* Estilo para el estado neutral (sin ordenar) */
button.gridjs-sort-neutral {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'%3E%3Cpath fill='white' stroke='white' stroke-linejoin='round' stroke-width='4' d='m24 42l-9-13h18zm0-36l-9 13h18z'/%3E%3C/svg%3E");
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 19px; /* Ajusta el tamaño según sea necesario */
    opacity: 0.6;
}

/* Estilo para el botón de ordenamiento genérico */
button.gridjs-sort {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    height: 24px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 13px;
}

/* Estilo para el estado de orden ascendente */
button.gridjs-sort-asc {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'%3E%3Cpath fill='white' stroke='white' stroke-linejoin='round' stroke-width='4' d='m24 6l-9 13h18z'/%3E%3C/svg%3E");
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 19px;
}

/* Estilo para el estado de orden descendente */
button.gridjs-sort-desc {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'%3E%3Cpath fill='white' stroke='white' stroke-linejoin='round' stroke-width='4' d='m24 42l-9-13h18z'/%3E%3C/svg%3E");
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 19px;
}

.gridjs-search-input {
    width: 250px;
    height: 35px;
}


.gridjs .gridjs-search .gridjs-input {
    -webkit-user-modify: read-write !important; 
}

.gridjs .gridjs-search .gridjs-input::-webkit-search-cancel-button {
    cursor: pointer; 
}

/* Estilo para redondear los bordes de la tabla de próximas citas */
.table-next-appointments {
    border-radius: 12px; 
    overflow: hidden; 
    border-collapse: separate; 
}

.table-next-appointments th {
    background-color: #003153;
    color: #FFF;
    border: 1px solid #fff;
}

/* Estilo para las celdas de la tabla */ 
.table-next-appointments td {
    padding: 10px;
    text-align: center;
    border: 1px solid #e5e7eb; 
}

/* Estilos para el contenedor de la barra de búsqueda */
.search-component {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.search-query {
    width: 100%;
    height: 35px;
    padding: 10px 40px 10px 15px; /* Espacio para el ícono de borrar */
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-query:focus {
    border-color: #007bff; /* Cambia a un color de borde más llamativo al enfocar */
}

.clear-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
    display: none; /* Oculto por defecto */
}

.clear-btn:hover {
    color: #333;
}

/* Estilos para las tarjetas de doctores y descripciones de las especialidades */
.speciality-description {
    color: #0a2240;
    text-align: justify;
    margin-top: 10px;
}

.doctors-title {
    color: #0a2240;
    font-size: 1.5em;
    margin-top: 20px;
}

.speciality-description {
    color: #0a2240;
    text-align: justify;
}

h3 {
    color: #0a2240;
}

.doctor-cards {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas pasen a nuevas filas */
    gap: 15px; /* Espacio entre tarjetas */
    margin-top: 20px;
    justify-content: space-around; /* Distribuye las tarjetas uniformemente */
    justify-content: flex-start; 
}

.doctor-card {
    display: flex;
    align-items: center;
    background-color: #e9ecef; /* Fondo suave para la tarjeta */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    width: calc(33.33% - 15px); /* Ancho de 3 tarjetas por fila */
    max-width: 24rem; /* Limitar el tamaño máximo de cada tarjeta */
    flex: 1 1 calc(33.33% - 15px); /* Permite que cada tarjeta ocupe el espacio adecuado */
}

/* Responsive */
@media (max-width: 768px) {
    .doctor-card {
        width: calc(50% - 15px); /* Cambia a 2 tarjetas por fila en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .doctor-card {
        width: 100%; /* En pantallas muy pequeñas, muestra una tarjeta por fila */
    }
}

.icon-doctor {
    font-size: 50px;
    color: #0077B6;
    margin-right: 15px; /* Espacio entre ícono y texto */
}

.doctor-info p {
    margin: 4px 0;
}


/* Cambiar contraseña */
.card.no-hover {
    background-color: #e7e7e7c5; /* Color de fondo específico */
    padding: 1.5rem;
    color: #000;
    border-radius: 5px;
    cursor: default; /* Evita el efecto de puntero */
    transition: none; /* Sin transición */
}

.card.no-hover:hover {
    color: #000;
    transform: none; /* Sin animación */
}

.card-no-hover-reports {
    background-color: #e7e7e7c5; /* Color de fondo deseado */
    padding: 1.5rem 1rem;
    color: #000;
    border-radius: 5px;
    cursor: default; /* Evita el efecto del puntero */
    transition: none; /* Sin transiciones */
}

.card-no-hover-reports:hover {
    background-color: #e7e7e7c5; /* Mantener el mismo color */
    color: #000; /* Mantener el color del texto */
    transform: none; /* Sin transformación */
}


.gridjs-tr.table-active > * {
    background: transparent !important;
}

.gridjs-tr.table-active {
    background-color: #d1e0ff!important;
    font-weight: bold;
}

.header-with-back-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fc .fc-toolbar-title,
.fc .fc-daygrid-day-number,
.fc .fc-event-title,
.fc .fc-event-time {
    color: #003153; /* Custom text color */
}

.fc .fc-col-header-cell-cushion {
    color: #0a2240; /* Custom color for day headers */
}


.chart-container {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn-outline-secondary {
    color: #003153;
    border-color: #003153;
    margin-left: 5px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.chart-container h2 {
    margin-bottom: 1rem;
}

.chart-container canvas {
    max-height: 400px;
}

.btn-group {
    margin-bottom: 1rem;
}

.btn-outline-primary {
    color: #0077B6;
    border-color: #0077B6;
}

.btn-outline-primary:hover {
    background-color: #0077B6;
    border-color: #0077B6;
    color: white;
}

.btn-outline-primary:active,
.btn-outline-primary:focus {
    background-color: #003153 !important;
    border-color: #003153 !important;
    color: white !important;
    box-shadow: none !important;
}

.time-filter.active {
    background-color: #003153;
    border-color: #003153;
    color: white;
}


/* Notificaciones */

.notifications-link {
    position: relative;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.notifications-toggle {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF3B30;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.notifications-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    min-width: 300px;
    z-index: 1000;
}

.notification-item {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.notification-item.unread {
    background-color: #f0f9ff;
}

.notification-link {
    color: #333;
    text-decoration: none;
    display: block;
}

.notification-date {
    display: block;
    color: #666;
    font-size: 12px;
}


/* calififcaiones */

.rating-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.rating-options {
    display: flex;
    gap: 15px;
}

.rating-radio {
    display: none;
}

.rating-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #0077B6;
    color: #0077B6;
    font-weight: bold;
    transition: all 0.3s ease;
}

.rating-radio:checked + .rating-label {
    background-color: #0077B6;
    color: white;
}
