<p><strong>Médico:</strong> {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</p>
<p><strong>Especialidad:</strong> {{ appointment.speciality.name }}</p>
<p><strong>Fecha:</strong> {{ appointment.appointment_date }}</p>
<p><strong>Horario:</strong> {{ appointment.appointment_time }}</p>
<p><strong>Motivo:</strong> {{ appointment.reason }}</p>
<p><strong>Estado:</strong> {{ appointment.get_status_display }}</p>
<p><strong>ID de Cita:</strong> {{ appointment.id }}</p>


<!-- Botón Editar dentro de los detalles -->
<a href="{% url 'edit_appointment_view' appointment.id %}" class="btn custom-button">
    <i class="fa-solid fa-pen-to-square"></i> Editar cita
</a>
<!-- Botón Cancelar dentro de los detalles -->
<button class="btn btn-danger" id="cancelAppointmentBtn" hx-delete="{% url 'cancel_appointment' appointment.id %}"
    hx-target="this" hx-swap="none" hx-on="htmx:afterRequest: handleCancellationResponse(event)"
    hx-on-error="Swal.fire('Error', 'Ocurrió un error al cancelar la cita', 'error')">
    <i class="fa-solid fa-trash-can"></i> Cancelar cita
</button>

<script>
    // Añadir token CSRF a todas las peticiones HTMX
    document.addEventListener('htmx:configRequest', (event) => {
        const csrfToken = "{{ csrf_token }}";
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });

    // Función para manejar la respuesta después de la cancelación con SweetAlert
    function handleCancellationResponse(event) {
        const response = event.detail.xhr.responseText;
        const data = JSON.parse(response);

        if (data.message) {
            // Mostrar el mensaje de confirmación con SweetAlert
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'OK',
                confirmButtonColor: '#0077B6'
            }).then(() => {
                // Recargar la página para actualizar la tabla de citas
                window.location.reload();
            });
        }
    }
</script>