<tbody>
    {% for appointment in appointments %}
    <tr data-appointment-id="{{ appointment.id }}">
        <td>{{ forloop.counter }}</td>
        <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
        <td>{{ appointment.appointment_date }}</td>
        <td>{{ appointment.appointment_time }}</td>
        <td>
            <!-- Botón que abrirá el modal con detalles -->
            <button class="btn custom-button" hx-get="{% url 'appointment_details' appointment.id %}"
                hx-target="#appointmentDetailsModal .modal-body" hx-swap="innerHTML" hx-on="htmx:afterOnLoad: 
                var appointmentId = {{ appointment.id }};
                var cancelButton = document.getElementById('cancelAppointmentBtn');
                if (cancelButton) {
                    cancelButton.setAttribute('hx-delete', '{% url 'cancel_appointment' appointment.id %}');
                }" data-bs-toggle="modal" data-bs-target="#appointmentDetailsModal">
                Ver
            </button>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No tienes citas futuras.</td>
    </tr>
    {% endfor %}
</tbody>