{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CitaYa</title>
    <!-- LineIcons -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Grid.js-->
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <!-- Tom Select -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <!-- Full Calendar -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="{% url 'home' %}">Hospital Isidro Ayora</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                {% if is_paciente %}
                <!-- Opciones específicas del paciente -->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="fa-regular fa-calendar-check"></i>
                        <span>Gestión de citas</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'schedule_appointment' %}" class="sidebar-link">Agendar cita</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'next_appointments' %}" class="sidebar-link">Próximas citas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'appointment_history' %}" class="sidebar-link">Historial de
                                citas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'medical_history' %}" class="sidebar-link">Historial médico</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'search_doctors_patient' %}" class="sidebar-link"
                        title="Ver especialidades y médicos" aria-label="Ver especialidades y médicos">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span>Especialidades y médicos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'configuration' %}" class="sidebar-link" title="Configuración de cuenta"
                        aria-label="Ir a configuración de cuenta">
                        <i class="lni lni-cog"></i>
                        <span>Configuración de cuenta</span>
                    </a>
                </li>
                {% endif %}
                {% if is_administrador %}
                <!-- Opciones específicas del administrador -->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#hospital-management" aria-expanded="false" aria-controls="hospital-management">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span>Gestión hospitalaria</span>
                    </a>
                    <ul id="hospital-management" class="sidebar-dropdown list-unstyled collapse"
                        data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'manage_doctors' %}" class="sidebar-link">Gestión de médicos</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'manage_specialities' %}" class="sidebar-link">Gestión de especialidades</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'reports:generate_report_form' %}" class="sidebar-link"
                        title="Generación de reportes" aria-label="Ir a generación de reportes">
                        <i class="fa-solid fa-file-export"></i>
                        <span>Generación de Reportes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'configuration' %}" class="sidebar-link" title="Configuración de cuenta"
                        aria-label="Ir a configuración de cuenta">
                        <i class="lni lni-cog"></i>
                        <span>Configuración de cuenta</span>
                    </a>
                </li>
                {% endif %}
                {% if is_secretaria %}
                <!-- Opciones específicas de secretaria -->
                <li class="sidebar-item">
                    <a href="{% url 'manage_patients' %}" class="sidebar-link" title="Gestión de pacientes"
                        aria-label="Gestión de pacientes">
                        <i class="fa-solid fa-hospital-user"></i>
                        <span>Gestión de pacientes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#appointment-management" aria-expanded="false"
                        aria-controls="appointment-management">
                        <i class="fa-regular fa-calendar-check"></i>
                        <span>Gestión de citas</span>
                    </a>
                    <ul id="appointment-management" class="sidebar-dropdown list-unstyled collapse"
                        data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'schedule_appointment' %}" class="sidebar-link">Agendar cita</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'next_appointments' %}" class="sidebar-link">Próximas citas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'appointment_history' %}" class="sidebar-link">Historial de citas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'medical_history' %}" class="sidebar-link">Historial médico</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'configuration' %}" class="sidebar-link" title="Configuración de cuenta"
                        aria-label="Ir a configuración de cuenta">
                        <i class="lni lni-cog"></i>
                        <span>Configuración de cuenta</span>
                    </a>
                </li>
                {% endif %}
                {% if is_doctor %}
                <!-- Opciones específicas de doctor -->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Agenda médica</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'doctor_calendar' %}" class="sidebar-link">Mis citas</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#histories-management" aria-expanded="false"
                        aria-controls="histories-management">
                        <i class="fa-solid fa-book-medical"></i>
                        <span>Gestión de historiales</span>
                    </a>
                    <ul id="histories-management" class="sidebar-dropdown list-unstyled collapse"
                        data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'appointment_history' %}" class="sidebar-link">Historial de citas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'medical_history' %}" class="sidebar-link">Historial médico</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'manage_diagnosis' %}" class="sidebar-link"
                        title="Gestión de diagnósticos y recetas" aria-label="Gestionar diagnósticos">
                        <i class="fa-solid fa-file-waveform"></i>
                        <span>Gestión de diagnósticos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'manage_triages' %}" class="sidebar-link" title="Gestión de triajes"
                        aria-label="Gestionar triajes">
                        <i class="fa-solid fa-notes-medical"></i>
                        <span>Gestión de Triajes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'configuration' %}" class="sidebar-link" title="Configuración de cuenta"
                        aria-label="Ir a configuración de cuenta">
                        <i class="lni lni-cog"></i>
                        <span>Configuración de cuenta</span>
                    </a>
                </li>
                {% endif %}
                {% if is_manager %}
                <!-- Opciones específicas del gerente -->
                <li class="sidebar-item">
                    <a href="{% url 'reports:generate_report_form' %}" class="sidebar-link"
                        title="Generación de reportes" aria-label="Ir a generación de reportes">
                        <i class="fa-solid fa-file-export"></i>
                        <span>Generación de Reportes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'reports:dashboard' %}" class="sidebar-link" title="Dashboard de estadísticas"
                        aria-label="Ir a estadísticas">
                        <i class="fa-solid fa-chart-pie"></i>
                        <span>Estadísticas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'configuration' %}" class="sidebar-link" title="Configuración de cuenta"
                        aria-label="Ir a configuración de cuenta">
                        <i class="lni lni-cog"></i>
                        <span>Configuración de cuenta</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="sidebar-footer">
                <a href="{% url 'account_logout' %}" class="sidebar-link" title="Cerrar sesión"
                    aria-label="Cerrar sesión">
                    <i class="lni lni-exit"></i>
                    <span>Cerrar sesión</span>
                </a>
            </div>
        </aside>
        <div class="main2">
            <div class="dashboard-navbar">
                <div class="navbar-content">
                    <ul class="main-nav">
                        <li class="notifications-link">
                            <div class="notifications-toggle">
                                <i class="fa-solid fa-bell fa-lg" style="color: #ffffff;" title="Notificaciones"
                                    aria-label="Notificaciones">

                                </i>
                                {% if unread_notifications %}
                                <span class="notification-badge">{{ unread_notifications|length }}</span>
                                {% endif %}
                            </div>
                            <div class="notifications-dropdown">
                                {% if notifications %}
                                {% for notification in notifications %}
                                <div class="notification-item {% if not notification.is_read %}unread{% endif %}">
                                    <a href="{% url 'rate_appointment' notification.appointment.id %}"
                                        class="notification-link">
                                        {{ notification.message }}
                                        <small class="notification-date">{{ notification.created_at|timesince }}
                                            ago</small>
                                    </a>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="notification-item">No hay notificaciones pendientes</div>
                                {% endif %}
                            </div>
                        </li>
                        <li class="user-link">
                            <div class="user-info">
                                <span class="user-name">{{ request.user.first_name }}</span>
                                <a href="#">
                                    <img src="{% static 'images/account.png' %}" alt="Profile" class="avatar">
                                </a>
                            </div>
                            <div class="user-link-dropdown">
                                <a href="{% url 'configuration' %}" class="dropdown-item">Perfil</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            {% block extra_scripts %}
            {% endblock %}
        </div>
    </div>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- JS Menú -->
    <script src="{% static 'js/shared/slide_bar.js' %}"></script>
    <!-- JS notificaciones -->
    <script src="{% static 'js/shared/notifications.js' %}"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <!-- Grid.js-->
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <!-- Tom Select -->
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>


    <!-- Alerta de mensajes -->
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <script>
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: '{{ message }}',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#0077B6'
                    });
                </script>
            {% elif 'error' in message.tags %}
                <script>
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '{{ message }}',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#0077B6'
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}


</body>

</html>