{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container">
        <h2 class="my-4 text-center">Tu información</h2>
        <form id="configurationForm" method="post" action="{% url 'configuration' %}">
            {% csrf_token %}
            <div class="row">
                <!-- Iterar sobre los campos del formulario -->
                {% for field in form %}
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors|join:", " }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" id="submitButton" class="btn custom-button mt-3" disabled>
                    <i class="fa-regular fa-pen-to-square"></i> Guardar Cambios</button>
                <a class="btn btn-success mt-3" href="{% url 'account_change_password' %}" role="button">
                    <i class="fa-solid fa-key"></i> Cambiar Contraseña</a>
                <a class="btn btn-secondary mt-3" href="{% url 'render_email_page' %}" role="button">
                    <i class="fa-solid fa-envelope"></i> Cambiar Correo</a>
                <button type="button" class="btn btn-danger mt-3" id="deleteAccountButton">
                    <i class="fa-solid fa-trash-can"></i> Eliminar cuenta</button>
            </div>
        </form>
        <!-- Botón para abrir el modal -->


    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script>
    const deleteUserUrl = "{% url 'delete_user' %}";
</script>
<script src="{% static 'js/shared/update_user_info.js' %}"></script>
{% endblock %}