<p><strong>Paciente:</strong> {{ medical_history.patient.first_name }} {{ medical_history.patient.last_name }}</p>
<p><strong>Médico:</strong> {{ medical_history.doctor.first_name }} {{ medical_history.doctor.last_name }}</p>
<p><strong>Fecha de Creación:</strong> {{ medical_history.created_at }}</p>
<p><strong>Diagnóstico:</strong> {{ medical_history.diagnosis }}</p>
<p><strong>Tratamiento:</strong> {{ medical_history.treatment }}</p>
<p><strong>Estado:</strong> {{ medical_history.get_status_display }}</p>
<p><strong>ID del diagnóstico:</strong> {{ medical_history.id }}</p>
<p><strong>ID de la Cita Asociada:</strong> {{ appointment_id }}</p>

<!-- Botón para descargar la receta en PDF -->
{% if medical_history.prescriptions.exists %}
<button class="btn btn-success" id="downloadPrescriptionBtn"
    data-prescription-id="{{ medical_history.prescriptions.first.id }}"
    onclick="downloadPrescription('{{ medical_history.prescriptions.first.id }}')">
    <i class="fa-solid fa-file-arrow-down"></i> Descargar Receta
</button>
{% else %}
<button class="btn btn-secondary" disabled>
    <i class="fa-solid fa-file-circle-xmark"></i> No hay receta disponible
</button>
{% endif %}