{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h2>Historial de diagnósticos</h2>
    <br>
    <div class="table-responsive">
        <div id="diagnosticsHistoryTable"></div> <!-- Contenedor para Grid.js -->
    </div>

    <!-- Incluir el modal para mostrar detalles del diagnóstico -->
    {% include 'patient/modals/modal_diagnostic_details.html' %}
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/diagnostics_history.js' %}"></script>
{% endblock %}