{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h2>Próximas citas</h2>
    <div style="overflow-x:auto;" class="table-responsive">
        <table id="posts" class="table-next-appointments">
            <thead>
                <tr>
                    <th style="width:5%">N°</th>
                    <th style="width:30%">Médico</th>
                    <th style="width:30%">Fecha</th>
                    <th style="width:30%">Horario</th>
                    <th style="width:5%">Acción</th>
                </tr>
            </thead>
            <tbody hx-get="{% url 'future_appointments' %}" hx-trigger="load" hx-target="#posts tbody"
                hx-swap="outerHTML">
                <!-- Este tbody se actualizará con htmx -->
            </tbody>
        </table>
        {% include 'patient/modals/modal_appointment_details.html' %}
    </div>
</div>
{% endblock %}