{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h2 class="my-3">Agendar cita médica</h2>
    <form method="POST" action="{% url 'book_appointment' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="specialitySelect" class="form-label">Especialidad</label>
                <select class="form-select" id="specialitySelect" name="speciality_id">
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="doctorSelect" class="form-label">Doctor</label>
                <select id="doctorSelect" class="form-select" name="doctor_id">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="dateSelect" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="dateSelect" name="appointment_date">
            </div>
            <div class="col-md-6 mb-3">
                <label for="timeSelect" class="form-label">Horario</label>
                <select class="form-select" id="timeSelect" name="appointment_time">
                    <option selected>Elige el horario</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Motivo</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="reason" rows="2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn custom-button w-100">Agendar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/schedule_appointment.js' %}"></script>
{% endblock %}