{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h2>Especialidades y médicos</h2>
    <div class="search-component">
        <form action="#">
            <div class="nav-search">
                <input type="text" class="search-query" placeholder="Especialidad o médico">
                <button class="btn" type="button">Buscar</button>
            </div>
        </form>
    </div>
    <div class="dashboard-card">
        <div class="card">
            <h6 class="title">Pedriatría</h6>
            <h6 class="amount">La mejor atención para la salud de tu hijo</h6>
            <div class="badge">
                <span class="text-success-bg"> Detalles </span>
            </div>
        </div>
        <div class="card">
            <h6 class="title">Ginecología</h6>
            <h6 class="amount">Atención Ginecológica Integral y personalizada</h6>
            <div class="badge">
                <span class="text-success-bg"> Detalles </span>
            </div>
        </div>
        <div class="card">
            <h6 class="title">Medicina general</h6>
            <h6 class="amount">Atención médica general con tecnología de punta</h6>
            <div class="badge">
                <span class="text-success-bg"> Detalles</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}