{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h2>Especialidades</h2>
    <!-- Campo de búsqueda -->
    <div class="search-component">
        <input type="text" id="search-input" class="search-query" placeholder="Buscar especialidad" />
        <span id="clear-search" class="clear-btn">&times;</span>
    </div>

    <!-- Contenedor donde se mostrarán las tarjetas de especialidades -->
    <div id="specialityContainer" class="speciality-card">
        <!-- Las especialidades se cargarán aquí dinámicamente -->
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/speciality.js' %}"></script>
{% endblock %}