<!-- Modal de detalles del historial de citas -->
<div class="modal fade" id="appointmentHistoryDetailsModal" tabindex="-1"
    aria-labelledby="appointmentHistoryDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentHistoryDetailsModalLabel">Detalles del historial de la cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="history-modal-body" class="modal-body">
                <!-- Aquí se llenarán los detalles de la cita -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>