<!-- Modal de detalles de la cita -->
<div class="modal fade" id="calendarDetailsModal" tabindex="-1" aria-labelledby="calendarDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calendarDetailsModalLabel">Detalles de la cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="calendarDetailsBody" class="modal-body">
                <!-- Aquí se llenarán los detalles de la cita dinámicamente con HTMX -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>