{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container">
        <h2 class="my-4 text-center">Tu información</h2>
        <form id="configurationForm" method="post" action="{% url 'configuration' %}">
            {% csrf_token %}
            <div class="row">
                <!-- Iterar sobre los campos del formulario -->
                {% for field in form %}
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors|join:", " }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" id="submitButton" class="btn custom-button mt-3" disabled>Guardar
                Cambios</button>
        </form>
        <!-- Botón para abrir el modal -->
        <a class="btn btn-success mt-3" href="{% url 'account_change_password' %}" role="button">Cambiar Contraseña o
            Correo Electrónico</a>

    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/update_user_info.js' %}"></script>
{% endblock %}